body {
    color: #fff;
    height: 100vh;
    overflow: hidden;
    text-align: center;
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.btn {
    justify-self: center;
    align-self: center;
    background-color: darkcyan;
    border: 2px solid transparent;
}

.btn:hover {
    border: 2px solid black;
}

.start-btn {
    margin-top: 10vh;
    width: 300px;
    height: 100px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 26px;
}

.lvl-btn {
    width: 100px;
    height: 35px;
    border-radius: 2px;
    font-weight: bold;
    font-size: 14px;
}

.level-div {
    margin-top: 20px;
    font-size: 25px;
}

#lvl-screen {
    margin-top: -20vh;
}

.countdown {
    height: 20px;
    margin-top: 20px;
    /*padding-top: 20px;*/
    font-size: 25px;
}

.stop-btn {
    margin-top: 10px;
    width: 100px;
    height: 35px;
    border-radius: 2px;
    font-weight: bold;
    font-size: 14px;
    background-color: red;
}